<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CricketVsBaseball</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="center-div">
      <form class="form-cl">
        <input
          type="text"
          id="url-id"
          name="Image Url"
          placeholder="paste Url Here"
        /><br />
        <input id="predBtn" type="button" value="Predict" />
      </form>
      <img class="img-cl" id="img-id" src="" />
    </div>
  </body>
  <script src="../static/script.js"></script>
</html>
